.home{
  display: flex;
  .card1{
    width: 300px;
    height: 200px;
    margin: 20px;
    display: inline-block;
    h1{
      font-size: 22px;
      font-weight: bold;
      span{
        font-size: 16px;
        font-weight: normal;
      }
    }
  }
  .chart{
    flex: 1;
    height: 300px !important;
    width: 700px !important;
    display: inline-block;
    margin: 20px;
  }
}
