.card1{
  width: 300px;
  margin: 20px;
  h1{
    font-size: 22px;
    font-weight: bold;
    span{
      font-size: 16px;
      font-weight: normal;
    }
  }
}
.chart{
  height: 400px;
  width: 500px;
}
